@use "../base/variables" as vars;
@use "../base/mixins" as mix;
// ページ独自のスタイル
.article {
  padding: vars.$section-padding;
  &-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
    @include mix.mq(sp) {
      flex-direction: column;
      align-items: center;
    }
    &-img {
      max-width: 100%;
    }
    &-link {
      position: relative;
      width: 48%;
      @include mix.mq(sp) {
        width: 100%;
      }
      &:hover {
        @include mix.hover;
      }
    }
    &-bg {
      padding: 15px 10px;
      position: absolute; // 親要-linkの中央に配置
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
    &-title {
      color: #fff;
    }
    &-text {
      color: #fff;
      white-space: nowrap; // -bgの移動前の場所からだと要素がはみ出すため改行される。それを防ぐための指定
    }
  }
}

.fashion {
  padding: vars.$section-padding;
  padding-bottom: 300px;
  margin-bottom: 50px;
  background: url(../img/1920x550.png) center/cover;
}

.section-container {
  background-color: vars.$catalog-bg;
}

.catalog {
  padding: vars.$section-padding;
  &-container {
    display: flex;
    @include mix.mq(sp) {
      flex-direction: column;
    }
    & div {
      max-width: 50%;
      @include mix.mq(sp) {
        max-width: 100%;
      }
    }
    &-text {
      padding: 3% 0 1% 1%;
    }
  }
  &-img {
    max-width: 90%;
    @include mix.mq(sp) {
      max-width: 100%;
    }
  }
}

.antique {
  padding: vars.$section-padding;
  &-container {
    display: flex;
    @include mix.mq(sp) {
      flex-direction: column;
    }
    & div {
      max-width: 50%;
      text-align: right; // 子要素のimgタグを右寄せ
      @include mix.mq(sp) {
        max-width: 100%;
      }
    }
    &-text {
      padding: 3% 1% 1% 0;
    }
  }
  &-img {
    max-width: 90%;
    @include mix.mq(sp) {
      max-width: 100%;
    }
  }
}
